<div style="text-align:center">

  <h1> Welcome to {{ title }}</h1>
</div>

<div class="container">

  <button (click)="Listar()" class="btn btn-info">Listar</button>
  <button   (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>

</div>
 
<hr>


<router-outlet></router-outlet>